[submodule "substrate/third_party/poky"]
	path = substrate/third_party/poky
	url = git://git.yoctoproject.org/poky
[submodule "substrate/third_party/meta-raspberrypi"]
	path = substrate/third_party/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "substrate/third_party/meta-openembedded"]
	path = substrate/third_party/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
